<a href="https://colab.research.google.com/github/jeonsy22/NLP_2023/blob/main/argument_parameter2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

키워드 인수(keyword arguments)
* 위치 인수의 위치를 정확히 기억하지 못하고 혼란을 야기할 수 있기 때문에 **인수명에 값을 직접 지정**한다.

In [1]:
def add_function(a, b, c):
  result = a + b + c
  print(f'a: {a}, b: {b}, c: {c}')
  print(f'sum: {result}')
  return result

In [2]:
#@markdown 키워드로 매개변수에 대한 값을 지정하는 예시
add_function(b = 3, a = 5, c = 1)

a: 5, b: 3, c: 1
sum: 9

9

기본 매개변수(default parameter)
* 매개변수에 **기본 값을 지정**할 수 있다.
* 기본값을 지정시 인수에 값을 **생략 가능**하다.
* 단, 기본값이 지정된 인수는 위치 인수보다 다음에 위치해야한다.

In [3]:
def add_function(a, b = 0, c = 0):
  result = a + b + c
  print(f'a: {a}, b: {b}, c: {c}')
  print(f'sum: {result}')
  return result

In [4]:
add_function(1)

a: 1, b: 0, c: 0
sum: 1

1

In [5]:
add_function(1, 2)

a: 1, b: 2, c: 0
sum: 3

3

In [6]:
add_function(1, 2, 3)

a: 1, b: 2, c: 3
sum: 6

6

In [7]:
add_function(c = 3, a = 1, b = 2)

a: 1, b: 2, c: 3
sum: 6

6

기본 매개변수가 **위치 인수보다 앞 쪽에 위치한 경우 Error**가 발생

In [8]:
def add_function(a = 0, b, c):
  result = a + b + c
  print(f'a: {a}, b: {b}, c: {c}')
  print(f'sum: {result}')
  return result

SyntaxError: ignored

In [10]:
def add_function(b, c, a = 0):
  result = a + b + c
  print(f'a: {a}, b: {b}, c: {c}')
  print(f'sum: {result}')
  return result