<a href="https://colab.research.google.com/github/jeonsy22/NLP_2023/blob/main/classpractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
class Person:
  """Super Class"""
  total_count = 0
  def __init__(self):
    self.name = '전서윤'
    self.age = 21
    Person.total_count+= 1

  def introduce(self):
    print(f'제 이름은 {self.name} 이고, 나이는 {self.age}살 입니다.')

In [22]:
p1 = Person()

In [23]:
p1.introduce()

제 이름은 전서윤 이고, 나이는 21살 입니다.

In [25]:
p2 = Person()

In [27]:
p3 = Person()

In [29]:
p3.__class__.total_count

3

In [30]:
class Student(Person):
  """Sub Class"""

  def __init__(self):
    super().__init__()

In [32]:
student = Student()
student.introduce()

제 이름은 전서윤 이고, 나이는 21살 입니다.