<a href="https://colab.research.google.com/github/jeonsy22/NLP_2023/blob/main/for%EB%AC%B8_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
list_food = ["햄버거", "치킨", "피자", "떡볶이", "마라탕"]
for f in list_food:
  print(f)

햄버거
치킨
피자
떡볶이
마라탕

In [3]:
tuple_food = ("햄버거", "치킨", "피자", "떡볶이", "마라탕")
for f in tuple_food:
  print(f)

햄버거
치킨
피자
떡볶이
마라탕

In [4]:
hello = "안녕하세요!"
for h in hello:
  print(h)

안
녕
하
세
요
!

In [11]:
#@markdown 연습문제

#@markdown 5명에 대한 정보처리기사 자격증 시험 점수가 리스트에 담겨있습니다. 이때 각 점수가 합격 점수인지 불합격 점수인지 판별하여 출력하시오. (60점 이상 합격)

score_list = [90, 45, 70, 60, 55]
for s in score_list:
  if s >= 60:
    print("합격입니다!")
  else:
    print("불합격입니다 ..")

합격입니다!
불합격입니다 ..
합격입니다!
합격입니다!
불합격입니다 ..

In [12]:
score_list = [90, 45, 70, 60, 55]
number = 1
for s in score_list:
  if s >= 60:
    print("{}번 학생은 합격입니다!". format(number))
  else:
    print("{}번 학생은 불합격입니다 ..". format(number))
  number += 1

1번 학생은 합격입니다!
2번 학생은 불합격입니다 ..
3번 학생은 합격입니다!
4번 학생은 합격입니다!
5번 학생은 불합격입니다 ..

In [13]:
for i in range(1, 10, 1):
  print(i)

1
2
3
4
5
6
7
8
9

In [18]:
for j in range(1, 20, 3):
  print(j)

1
4
7
10
13
16
19

In [20]:
for s in range(1, 10, 1):
  print(s, end = " ")

1 2 3 4 5 6 7 8 9

In [21]:
for y in range(97, 76, -1):
  print(y)

97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77

In [23]:
for a in range(23, 41):
  print(a, end = " ")

23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40