<a href="https://colab.research.google.com/github/jeonsy22/NLP_2023/blob/main/practice3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**⭐유튜브 파이썬 강의 참고 연습 자료⭐**

In [1]:
#@markdown 아무것도 아닌 NONE 타입
a = None

In [2]:
type(a)

NoneType

In [3]:
print(a)

None

타입 변환

In [4]:
#@markdown int를 float로 변환한 경우
a = 1

In [5]:
type(a)

int

In [6]:
float(a)

1.0

In [7]:
#@markdown float를 int로 변환한 경우

#@markdown - float를 int로 변환시 반올림이 아닌 값이 버림되어진다.(소수점 이하 절삭)
b = 3.99

In [8]:
print(b)

3.99

In [9]:
type(b)

float

In [10]:
int(b)

3

In [11]:
#@markdown bool을 int로 변환한 경우
c = True

In [12]:
int(c)

1

In [13]:
d = False

In [14]:
int(d)

0

In [15]:
#@markdown bool을 float로 변환한 경우
float(True)

1.0

파이썬에서 **0이 아닌 값은 모두 True로 간주**한다.

In [17]:
bool(1)

True

In [18]:
bool(-10)

True

In [19]:
bool(3.14)

True

In [20]:
bool(0)

False

In [21]:
bool(0.0)

False

#리스트(list)
* 리스트는 데이터의 요소를 순차적으로 파악하는데 용이한 자료형.
* 리스트는 다양한 메서드(method) 혹은 함수를 지원하며 메서드를 활용하여 요소를 추가, 삭제 및 변경 가능

**메서드**:객체(object)가 포함하는 함수 혹은 기능이다.

In [24]:
mylist = []
print(mylist)

[]

In [25]:
mylist = list()
print(mylist)

[]

In [26]:
#@markdown 리스트를 생성하면서 값을 포함한다.
mylist = [1, 2, 3, 4, 5]
print(mylist)

[1, 2, 3, 4, 5]

#list 규칙
* list는 다양한 type의 데이터를 집합으로 가질 수도 있음.
* list 안에 list도 허용.
* list는 순서(order)의 개념이 존재.

In [28]:
a = []
print(a)

[]

In [29]:
a = [1, 2, 3]
print(a)

[1, 2, 3]

In [30]:
a = [1, 'hello', 3, 3.14, True]
print(a)

[1, 'hello', 3, 3.14, True]

리스트 안에 리스트로 포함 가능.

In [31]:
a = [1, 'hello', 3, 3.14, [6, 7, 8]]
print(a)

[1, 'hello', 3, 3.14, [6, 7, 8]]

#관련 함수
* .점 연산자로 함수를 실행할 수 있음.
* 함수는 어떤 작업을 수행하는 코드를 모아 이름을 붙인 것이다.

append(): 값 추가

In [32]:
#@markdown 빈 리스트를 생성
mylist = []
print(mylist)

[]

In [33]:
#@markdown appemd()는 값을 맨 뒤에 추가
mylist.append(1)
print(mylist)

[1]

In [35]:
mylist.append(2)
mylist.append(3)
mylist.append(4)
mylist.append(5)
mylist.append(6)
mylist.append(7)
mylist.append(8)
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 2, 3, 4, 5, 6, 7, 8]

#sort(): 정렬
* 요소를 순서대로 정렬(오름차순)
* sort()는 내부적으로 정렬.

In [37]:
mylist = [1, 5, 6, 8, 4, 9]
mylist.sort()

In [38]:
print(mylist)

[1, 4, 5, 6, 8, 9]

In [39]:
#@markdown 역정렬도 가능 (reverse = True 를 지정.)
mylist = [1, 4, 7, 3, 8, 9]
mylist.sort(reverse = True)

In [40]:
print(mylist)

[9, 8, 7, 4, 3, 1]

#sorted(): 정렬
* 요소를 순서대로 정렬
* 내부적으로 정렬하지 않고 정렬된 복사본을 반환
* 즉 원본 데이터는 정렬 X

In [41]:
mylist = [1, 5, 8, 3, 2, 6]
sorted(mylist)

[1, 2, 3, 5, 6, 8]

In [42]:
print(mylist)

[1, 5, 8, 3, 2, 6]

In [43]:
#@markdown 마찬가지로 reverse = True를 지정하여 역정렬 가능
mylist = [1, 2, 5, 7, 3, 8, 9]
sorted(mylist, reverse = True)

[9, 8, 7, 5, 3, 2, 1]

In [44]:
print(mylist)

[1, 2, 5, 7, 3, 8, 9]