<a href="https://colab.research.google.com/github/jeonsy22/NLP_2023/blob/main/Review2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#✏️Review what you learned in the last session🔖

# 📇 Indexing of Sequence Data
| str data | I | ' | m |   | s | e | o | y | o | o | n |   | J | e | o | n |
|:---------|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|
| Forward Indexing | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10| 11| 12| 13| 14| 15|
| Backward Indexing|-16|-15|-14| -13| -12| -11| -10| -9| -8| -7| -6| -5| -4| -3| -2|-1|

In [ ]:
strdata = "I'm seoyoon Jeon"

In [ ]:
print(strdata[0])
print(strdata[1])
print(strdata[2])
print(strdata[3])
print(strdata[4])
print(strdata[5])
print(strdata[6])
print(strdata[7])
print(strdata[8])
print(strdata[9])
print(strdata[10])
print(strdata[11])
print(strdata[12])
print(strdata[13])
print(strdata[14])
print(strdata[15])

In [ ]:
print(strdata[-2])
print(strdata[-5])
print(strdata[-6])
print(strdata[-9])
print(strdata[-14])

o

n
y
m

In [ ]:
strdata2 = "Hello, I'm very happy!"

In [ ]:
print(strdata2[2])
print(strdata2[4])
print(strdata2[-11])
print(strdata2[12])
print(strdata2[-1])

l
o
v
e
!

In [ ]:
#@markdown 📒📝📎Practice List 📒📝📎
list_data = ['cat', 'puppy', 'bare', 'rabbit', 'mouse']
print(list_data)
list_data[2] = 'Kangaroo'
print(list_data)

['cat', 'puppy', 'bare', 'rabbit', 'mouse']
['cat', 'puppy', 'Kangaroo', 'rabbit', 'mouse']

In [ ]:
list_data2 = ['나무늘보', '판다', '사슴', '기린', '돼지']
print(list_data2)
list_data2[4] = '쿼카'
print(list_data2)

['나무늘보', '판다', '사슴', '기린', '돼지']
['나무늘보', '판다', '사슴', '기린', '쿼카']

In [1]:
#@markdown 📒📝📎Practice Tuple📒📝📎
tuple_data = (1, 2, 3, 4, 5, 6, 7, 8)
print(tuple_data)

(1, 2, 3, 4, 5, 6, 7, 8)

In [2]:
tuple_data2 = (4, 5, 6, 7, 8)
print(tuple_data2)
tuple_data2[2] = (10)
print(tuple_data2)

(4, 5, 6, 7, 8)

TypeError: ignored

In [6]:
str_data = "I'm so happy!!"
print(str_data[0])
print(str_data[1])
print(str_data[2])
print(str_data[3])
print(str_data[4])
print(str_data[5])
print(str_data[6])
print(str_data[7])
print(str_data[8])
print(str_data[9])
print(str_data[10])
print(str_data[11])
print(str_data[12])
print(str_data[13])

I
'
m

s
o

h
a
p
p
y
!
!

In [11]:
print(str_data[1:5])
print(str_data[:10])
print(str_data[0:-4])

'm s
I'm so hap
I'm so hap

In [15]:
str_data1 = "I like " ; str_data2 = "banana!"
print(str_data1 + str_data2)
print(str_data1 * 6)
print(str_data2 * 3)
print(str_data1 * str_data2)

I like banana!
I like I like I like I like I like I like
banana!banana!banana!

TypeError: ignored