<a href="https://colab.research.google.com/github/jeonsy22/NLP_2023/blob/main/youtubetuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

튜플(tuple)
* 리스트(list)는 가변(mutable)하는 객체(object)이지만, 튜플(tuple)은 불변(immutable)한 객체입니다.
* 가변 객체 요소에 대한 수정, 삭제, 변경 등이 가능하지만, 불변 객체는 **요소에 대한 수정, 삭제, 변경이 불가능.**

생성
* tuple(),()로 생성.
* 혹은 ,로 생성.

In [1]:
#@markdown ()로 튜플을 생성할 수 있다.
mytuple = (1, 2, 3)
print(mytuple)

(1, 2, 3)

tuple()로 생성하는 경우

In [2]:
mytuple = tuple([1, 2, 3])
print(mytuple)

(1, 2, 3)

In [3]:
#@markdown ,로 생성 가능
mytuple = 1, 2, 3
print(mytuple)

(1, 2, 3)

단일 요소를 생성할 때는 반드시 ,를 붙여준다.
* (1,)과 (1)은 다른 자료구조임을 꼭 알고 있어야 한다.

In [4]:
mytuple = 1,
print(type(mytuple))
print(mytuple)

<class 'tuple'>
(1,)

In [5]:
mytuple = (1,)
print(type(mytuple))
print(mytuple)

<class 'tuple'>
(1,)

In [6]:
mytuple = (1)
print(type(mytuple))
print(mytuple)

<class 'int'>
1

튜플 언패킹(unpacking)
* 튜플로 한 번에 **여러 변수에 값을 한 번에 할당**할 수 있다.

In [7]:
a, b, c = 1, 2, 3

print(a)
print(b)
print(c)

1
2
3

list 덧셈: list 확장

In [8]:
a = [1, 2, 3, 4]
b = [5, 6, 7, 8]

In [9]:
a + b

[1, 2, 3, 4, 5, 6, 7, 8]

list 곱셈: list 반복

In [10]:
a = ['j', 's', 'y']
b = [1, 2, 3]

In [11]:
a * 2

['j', 's', 'y', 'j', 's', 'y']

In [12]:
b * 8

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [13]:
a * b

TypeError: ignored

튜플 자료형은 요소의 추가, 삭제, 변경 등을 허용하지 않습니다.

In [14]:
mytuple = (1, 2, 3)
print(mytuple)

(1, 2, 3)

In [15]:
#@markdown 요소를 조회하는 것은 가능
mytuple[1]

2

In [16]:
#@markdown 요소를 변경하려는 경우
mytuple[1] = 15

TypeError: ignored

In [17]:
#@markdown 요소를 삭제하려는 경우
del mytuple[2]

TypeError: ignored

튜플 덧셈: 튜플의 확장

In [18]:
a = (1, 2, 3)
b = (3, 4, 5)

In [19]:
a + b

(1, 2, 3, 3, 4, 5)

튜플 곱셈: 튜플의 반복

In [20]:
a * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [21]:
a * b

TypeError: ignored

길이 파악하기

In [22]:
len(mytuple)

3

list를 tuple로 변화

In [23]:
a = [1, 2, 3, 4, 5]

In [24]:
print(a)

[1, 2, 3, 4, 5]

In [25]:
type(a)

list

In [26]:
b = tuple(a)

In [27]:
print(b)

(1, 2, 3, 4, 5)

tuple을 list로 변환

In [28]:
a = (5, 6, 7, 8, 9)

In [29]:
print(a)

(5, 6, 7, 8, 9)

In [30]:
type(a)

tuple

In [31]:
b = list(a)

In [32]:
print(b)

[5, 6, 7, 8, 9]

In [33]:
type(b)

list

리스트로 type을 변경하였기 때문에 **요소의 추가 및 삭제가 가능**

In [34]:
b.append(10)
print(b)

[5, 6, 7, 8, 9, 10]

In [35]:
b.remove(5)
print(b)

[6, 7, 8, 9, 10]

요소를 추가 및 삭제한 후 **다시 tuple로 변경 가능**

In [36]:
c = tuple(b)

In [37]:
print(c)

(6, 7, 8, 9, 10)

In [38]:
type(c)

tuple