<a href="https://colab.research.google.com/github/jeonsy22/NLP_2023/blob/main/youtube_break_continue.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

제어문

contunue
* 반복문 내부에서 continue 구문은 해당 루프를 건너뛰게 한다.
* continue라는 구문을 만나면, 반복문에서 continue 아래 작성된 코드는 실행되지 않고 건너뛴다.

In [1]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
#@markdown **반복문**과 **조건문** 그리고 continue를 활용하여 **짝수만 출력**해주세요.
for i in mylist:
  if i % 2 == 1:
    continue
  print(i)

2
4
6
8
10

In [16]:
#@markdown **반복문**과 **조건문** 그리고 continue를 활용하여 **홀수만 출력**해주세요.
for j in mylist:
  if j % 2 == 0:
    continue
  print(j)

1
3
5
7
9

break
* ** break**  구문을 만나면, **반복 루프는 즉시 종료**

In [20]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
#@markdown break를 사용하여 i가 6 이상이면 stop
for i in mylist:
  if i >= 6:
    break
  print(i)

1
2
3
4
5

In [24]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
for s in mylist:
  if s >= 8:
    break
  print(s)

1
2
3
4
5
6
7

break, continue 차이

In [31]:
for y in range(10):
  if y == 5:
    break
  print(y)

0
1
2
3
4

In [32]:
for h in range(10):
  if h == 5:
    continue
  print(h)

0
1
2
3
4
6
7
8
9