<a href="https://colab.research.google.com/github/jeonsy22/NLP_2023/blob/main/youtube_for_in%EA%B5%AC%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

반복문
* 1회 이상 반복해서 수행하는 일을 반복문으로 통해 쉽게 해결 가능.
* 반드시 list, tupie, dict, set 등 집합에 대한 순회를 돌며 일을 처리할 때 자주 사용.
* list, tuple, dict, set, 문자열까지 모두 **순회가능한(iterable) 객체**이다.
* 순회가능한 객체는 반복문을 통해 순회 가능.

for와 in 구문(반복문)

[기본 문법]
for 하나씩 꺼내올 때 변수 in [꺼내올 집합]:
(indent)
* list, tuple, set, dictionary, 문자열 형태 모두 가능
* range와 결합하여 사용 가능

In [2]:
#@markdown 리스트(list)
mylist = [1, 2, 3, 4, 5]

In [3]:
for i in mylist:
  print(i)

1
2
3
4
5

In [4]:
#@markdown 튜플(tuple)
for i in (1, 2, 3, 4, 5):
  print(i)

1
2
3
4
5

tuple + list

In [5]:
mytuplelist = [('전서윤', 10), ('전하영', 20), ('김소라', 30)]

for name, age in mytuplelist:
  print(name, age)

전서윤 10
전하영 20
김소라 30

딕셔너리(dictionary)

In [6]:
mydict = {'헐크': 50, '아이언맨': 60, '스파이더맨': 70}

In [7]:
mydict.keys()

dict_keys(['헐크', '아이언맨', '스파이더맨'])

In [8]:
for key in mydict.keys():
  print(key)

헐크
아이언맨
스파이더맨

In [10]:
for value in mydict.values():
  print(value)

50
60
70

In [11]:
mydict.items()

dict_items([('헐크', 50), ('아이언맨', 60), ('스파이더맨', 70)])

In [12]:
for name, age in mydict.items():
  print(name, age)

헐크 50
아이언맨 60
스파이더맨 70

문자열(str)

In [13]:
for a in "Hello":
  print(a)

H
e
l
l
o