<a href="https://colab.research.google.com/github/jeonsy22/NLP_2023/blob/main/youtube_range.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

range()
* range() 함수는 별도의 list, tuple 생성 없이 range()에서 정의한 범위를 반복하는데 활용할 수 있다.
* range(start, stop, step) 형식 사용

In [ ]:
#@markdown stop: 단일 값을 지정하는 경우
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#@markdown start, stop: 두 개의 값을 지정한 경우
for i in range(2, 9): #start는 포함 stop은 포함 x
  print(i)

2
3
4
5
6
7
8

In [ ]:
#@markdown start, stop, step: 세 개의 값을 지정한 경우
for i in range(1, 10, 2): #step은 건너뛰는 크
  print(i)

1
3
5
7
9

반복문의 중첩

In [ ]:
for i in range(1, 5):
  for j in range(1, 5):
    print(f'(i = {i}) + (j = {j}) = {i * j}')
    print('===')

(i = 1) + (j = 1) = 1
===
(i = 1) + (j = 2) = 2
===
(i = 1) + (j = 3) = 3
===
(i = 1) + (j = 4) = 4
===
(i = 2) + (j = 1) = 2
===
(i = 2) + (j = 2) = 4
===
(i = 2) + (j = 3) = 6
===
(i = 2) + (j = 4) = 8
===
(i = 3) + (j = 1) = 3
===
(i = 3) + (j = 2) = 6
===
(i = 3) + (j = 3) = 9
===
(i = 3) + (j = 4) = 12
===
(i = 4) + (j = 1) = 4
===
(i = 4) + (j = 2) = 8
===
(i = 4) + (j = 3) = 12
===
(i = 4) + (j = 4) = 16
===