<a href="https://colab.research.google.com/github/jeonsy22/NLP_2023/blob/main/youtube_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

세트(set)
* 세트는 순서가 보장되지 않는다.
* 세트는 요소의 **중복을 허용하지 않는다.**
* 세트는 {}를 활용하여 생성할 수 있다.

In [ ]:
myset = set()
print(myset)

set()

In [ ]:
myset = set([1, 1, 1, 2, 2, 3, 3, 3, 3])
print(myset)

{1, 2, 3}

In [ ]:
myset = set((1, 1, 1, 2, 2, 3, 3, 3, 3))
print(myset)

{1, 2, 3}

In [ ]:
myset = {1, 1, 1, 2, 2, 3, 3, 3, 3}
print(myset)

add(): 값 추가
* set에 요소 추가

In [1]:
myset = set()

In [2]:
#@markdown add()로 요소 추가
myset.add(1)
myset.add(2)
myset.add(3)

myset.add(1)
myset.add(2)
myset.add(3)

myset.add(1)
myset.add(2)
myset.add(3)

In [3]:
print(myset)

{1, 2, 3}

update(): 여러개 갑 추가
* 여러개의 값을 한번에 추가하고자 할 때는 update() 메서드를 사용.

In [4]:
myset = {1, 2, 3}

In [5]:
#@markdown list 요소들을 **한번에 update**
myset.update([4, 5, 6])
print(myset)

{1, 2, 3, 4, 5, 6}

In [6]:
#@markdown tuple 요소들을 **한번에 update**
myset.update((7, 8, 9))
print(myset)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [8]:
#@markdown set의 요소들을 **한번에 update**
myset.update({10, 11, 12})
print(myset)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

removw(): 값 제거
* 단일 요소를 제거.

In [13]:
myset = {1, 2, 3, 4, 5}

In [14]:
myset.remove(3)
print(myset)

{1, 2, 4, 5}

교집합(intersection)
* 교집합은 집합A와 B가 주어졌을 때 **공통된 요소**를 말한다.
* & 기호나 intersection() 메서드를 활용하여 교집합을 구할 수 있다.

In [16]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7}

In [17]:
a & b

{3, 4, 5}

In [19]:
a.intersection(b)

{3, 4, 5}

합집합(union)
* 합집합은 집합A와 B가 주어졌을 때 집합 A, B 요소 모두를 포함하는 것을 말한다.
* | 기호나 union() 메서드를 활용하여 합집합을 구할 수 있다.

In [20]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7}

In [21]:
a | b

{1, 2, 3, 4, 5, 6, 7}

In [22]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7}

차칩합(difference)
* 두 집합에서, 하나의 집합에 포함되고 다른 집합에는 포함되지 않는 모든 원소의 집합.
* -연산자를 활용하거나 difference() 메서드를 활용하여 구할 수 있다.

In [23]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7}

In [25]:
#@markdown a 집합에서 b 집합을 뺀 차집합
a - b

{1, 2}

In [26]:
a.difference(b)

{1, 2}

In [27]:
#@markdown b 집합에서 a 집합을 뺀 차집합
b - a

{6, 7}

In [28]:
b.difference(a)

{6, 7}