<a href="https://colab.research.google.com/github/jeonsy22/NLP_2023/blob/main/%EA%B0%80%EB%B3%80%EB%A7%A4%EA%B0%9C%EB%B3%80%EC%88%98_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

tuple 인수
* 여러 개의 인수를 전달 받을 수 있다.
* 여러 개의 인수를 전달 받은 *args에는 튜플 형식으로 데이터가 저장된다.
* *args로 받은 인수는 반복문으로 처리하는 것이 일반적이다.
* 대체적으로 *args 변수가 많이 사용된다.

In [1]:
def add_function(*args):
  result = 0
  print(f'args의 타입: {type(args)}')
  for arg in args:
    print(arg)
    result += arg
  print('==='* 5)
  print(f'sum: {result}')

In [3]:
#@markdown 아무런 값을 전달하지 않은 경우(생랽 가능)
add_function()

args의 타입: <class 'tuple'>
===============
sum: 0

In [5]:
#@markdown 1개의 값을 전달한 경우
add_function(1)

args의 타입: <class 'tuple'>
1
===============
sum: 1

In [14]:
add_function(8)

a: 8
===============
===============
sum: 0

In [6]:
#@markdown 복수의 값을 전달한 경우
add_function(1, 2, 3, 4, 5)

args의 타입: <class 'tuple'>
1
2
3
4
5
===============
sum: 15

In [13]:
#@markdown 복수의 값을 전달한 경우
add_function(5, 33, 74, 146)

a: 5
===============
33
74
146
===============
sum: 253

위피 매개변수와 *tuple 매개변수의 혼용
* *tuple 매개변수는 위치 매개변수의 뒤에 위치해야 한다.

In [7]:
def add_function(a, *args):
  print(f'a: {a}')
  print('==='* 5)
  result = 0
  for arg in args:
    print(arg)
    result += arg
  print('==='* 5)
  print(f'sum: {result}')

아무런 값을 지정하지 않은 경우
* 위치 매개변수 미지정으로 인한 Error 발생

In [8]:
add_function()

TypeError: ignored

In [9]:
#@markdown 단일 값을 지정한 경우
add_function(1)

a: 1
===============
===============
sum: 0

In [10]:
add_function(3)

a: 3
===============
===============
sum: 0

In [11]:
#@markdown 복수값을 지정한 경우
add_function(1, 2, 3, 4, 5)

a: 1
===============
2
3
4
5
===============
sum: 14

In [12]:
add_function(3, 5, 7, 65, 88)

a: 3
===============
5
7
65
88
===============
sum: 165