<a href="https://colab.research.google.com/github/jeonsy22/NLP_2023/blob/main/%EA%B0%80%EB%B3%80%EB%A7%A4%EA%B0%9C%EB%B3%80%EC%88%98_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*dict 인수
* 여러 개의 인수를 전달 받을 수 있다.
* 여러 개의 인수를 전달 받은 **kwargs에는 딕셔너리 형식으로 데이터가 저장된다.
* **kwargs로 받은 인수 역시 반복문으로 처리하는 것이 일반적이다.
* 대체적으로 **kwargs 변수가 많이 사용된다.

In [8]:
def add_function(**kwargs):
  total_age = 0
  for name, age in kwargs. items():
    print(f'이름: {name}, 나이: {age}')
    total_age += age
  print('==='* 5)
  print(f'전체 나이의 합계: {total_age}')

In [9]:
#@markdown 아무런 값을 지정하지 않은 경우
add_function()

===============
전체 나이의 합계: 0

In [10]:
#@markdown 단일 값을 지정한 경우
add_function(jeon=2)

이름: jeon, 나이: 2
===============
전체 나이의 합계: 2

In [12]:
add_function(kim=5, jeon=2, lee=9)

이름: kim, 나이: 5
이름: jeon, 나이: 2
이름: lee, 나이: 9
===============
전체 나이의 합계: 16

In [14]:
#@markdown 딕셔너리를 인수로 지정하는 경우 **를 앞에 붙여준다
person = {'jeon': 13, 'baek': 27, 'park': 22}
print(person)

{'jeon': 13, 'baek': 27, 'park': 22}

In [16]:
add_function(**person)

이름: jeon, 나이: 13
이름: baek, 나이: 27
이름: park, 나이: 22
===============
전체 나이의 합계: 62