<a href="https://colab.research.google.com/github/jeonsy22/NLP_2023/blob/main/%EA%B0%80%EB%B3%80%EC%9D%B8%EC%9E%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
def sum(a, b):
  return a + b

In [17]:
d = {'a': 3, 'b': 4}

In [18]:
sum(**d)

7

In [19]:
def person(**kwargs):
  for k, v in kwargs.items():
    print(k, v)

In [21]:
person(name = 'jeon seo yoon', age = 21, weight = 50)

name jeon seo yoon
age 21
weight 50

In [22]:
p = {'name': 'jeon seo yoon', 'age': 21, 'weight': 50}

In [23]:
person(p)

TypeError: ignored

In [24]:
person(**p)

name jeon seo yoon
age 21
weight 50