<a href="https://colab.research.google.com/github/jeonsy22/NLP_2023/blob/main/%EC%82%BC%ED%95%AD%EC%97%B0%EC%82%B0%EC%9E%90_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
if 1:
  print('참')
else:
  print('거짓')

참

In [2]:
if 0:
  print('참')
else:
  print('거짓')

거짓

삼항연산자
* (문법)**(참인 값) if 조건 else (거짓인 경우 값)**

삼항연산자는 파이썬 문법에서 흔히 볼 수 있는 연산자이며, 조건에 대한 참인 경우의 값 그렇지 않은 경우의 값을 뒤에 지정한다.

In [3]:
age = 35
"30세 이상입니다." if age >= 30 else "30세 이하입니다."

'30세 이상입니다.'

In [5]:
age = 20
"20세 이상입니다." if age >= 20 else "20세 이하입니다."

'20세 이상입니다.'

In [6]:
age = 35
"40세 이상입니다." if age >= 40 else "40세 이하입니다."

'40세 이하입니다.'