<a href="https://colab.research.google.com/github/jeonsy22/NLP_2023/blob/main/%ED%8C%90%EB%8B%A4%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%94%84%EB%A0%88%EC%9E%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DataFrame 생성(1/3)
* 2차원 표에서 컬럼 단위로 데이터를 표현
* 컬럼명을 딕셔너리의 key로 데이터는 딕셔너리의 values로 사용

In [1]:
from pandas import DataFrame

data = {
    "종가": [157000, 51300, 68800, 140000],
    "PER": [39.88, 8.52, 10.03, 228.38],
    "PBR": [4.38, 1.45, 0.87, 2.16]
}

index = ['NAVER', '삼성전자', 'LG전자', '카카오']

df = DataFrame(data, index)
print(df)

           종가     PER   PBR
NAVER  157000   39.88  4.38
삼성전자    51300    8.52  1.45
LG전자    68800   10.03  0.87
카카오    140000  228.38  2.16

DataFrame 생성(2/3)
* 2차원 표에서 로우 단위로 데이터를 리스트로 표현
* data, index, columns를 각각 리스트로 표현

In [3]:
data = [
    [157000, 39.88, 4.38],
    [51300, 8.52, 1.45],
    [68800, 10.03, 0.87],
    [140000, 228.38, 2.16]
]

index = ['NAVER', '삼성전자', 'LG전자', '카카오']
columns = ["종가", "PER", "PBR"]
df = DataFrame(data = data, index = index, columns = columns)
print(df)

           종가     PER   PBR
NAVER  157000   39.88  4.38
삼성전자    51300    8.52  1.45
LG전자    68800   10.03  0.87
카카오    140000  228.38  2.16

DataFrame 생성(3/3)
* 2차원 표에서 로우 단위로 데이터를 딕셔너리로 표현

In [5]:
data = [
    {"종가": 157000, "PER": 39.88, "PBR": 4.38},
    {"종가": 51300, "PER": 8.52, "PBR": 1.45},
    {"종가": 68800, "PER": 10.03, "PBR": 0.87},
    {"종가": 140000, "PER": 228.38, "PBR": 2.16}
]

index = ['NAVER', '삼성전자', 'LG전자', '카카오']
df = DataFrame(data = data, index = index)
print(df)

           종가     PER   PBR
NAVER  157000   39.88  4.38
삼성전자    51300    8.52  1.45
LG전자    68800   10.03  0.87
카카오    140000  228.38  2.16