<a href="https://colab.research.google.com/github/jeonsy22/NLP_2023/blob/main/%ED%8C%90%EB%8B%A4%EC%8A%A4_%EC%8B%9C%EB%A6%AC%EC%A6%88_%EC%97%B0%EC%82%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

브로드캐스팅(Broadcasting)
* 연산이 시리즈 객체의 전체 값에 적용된다.
* 반복문을 사용하지 않는다.

In [2]:
from pandas import Series

s = Series([100, 200, 300])
print(s + 10)

0    110
1    210
2    310
dtype: int64

사칙연산(1/2)
* 값은 인덱스를 기준으로 사칙 연산이 적용된다.
* 반복문을 사용하지 않아도 된다.

In [3]:
high = Series([51500, 51200, 52500, 55500, 58500])
low = Series([50700, 51000, 54000, 51300, 53200])
diff = high - low
print(diff)

0     800
1     200
2   -1500
3    4200
4    5300
dtype: int64

사칙연산(2/2)
* 인덱스가 같은 데이터 간의 덧셈 연산 적용
* 순서와 상관없이 인덱스를 기준으로 계산

In [6]:
high = Series(data = [51500, 51200, 52500], index = ["5/1", "5/2", "5/3"])
low = Series(data = [50700, 51000, 54000], index = ["5/1", "5/2", "5/3"])
diff = high - low
print(diff)

5/1     800
5/2     200
5/3   -1500
dtype: int64

In [7]:
high = Series(data = [51500, 51200, 52500], index = ["5/1", "5/2", "5/3"])
low = Series(data = [50700, 51000, 54000], index = ["5/1", "5/2", "5/4"])
diff = high - low
print(diff)

5/1    800.0
5/2    200.0
5/3      NaN
5/4      NaN
dtype: float64

시리즈 비교 연산
* 비교 연산자의 결과로 Baoolean 타입이 저장된 시리즈가 리턴된다.

In [8]:
s = Series(data = [100, 200, 300, 400, 500])
cond = s > 300
print(cond)

0    False
1    False
2    False
3     True
4     True
dtype: bool

시리즈 필터링(1/2)
* True/False 값을 통해서 True 값만 필터링 가능

In [9]:
s = Series(data = [100, 200, 300, 400, 500])
cond = [False, False, False, True, True]
s[cond]

3    400
4    500
dtype: int64

시리즈 필터링(2/2)
* 비교 연산자의 결과 시리즈를 사용하여 인덱싱하면 조건을 만족하는 데이터만 필터링 가능

In [10]:
s = Series(data = [100, 200, 300, 400, 500])
cond = s > 300

print(s[cond])

3    400
4    500
dtype: int64