<a href="https://colab.research.google.com/github/jeonsy22/NLP_2023/blob/main/%ED%8C%90%EB%8B%A4%EC%8A%A4_%EC%8B%9C%EB%A6%AC%EC%A6%88_%EC%B6%94%EA%B0%80_%EC%82%AD%EC%A0%9C_%EC%88%98%EC%A0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Series에 값 추가
* 딕셔너리와 유사한 방식으로 값 추가 가능
* s.loc[인덱스] = 값

In [3]:
import pandas as pd

data = [100, 200, 300]
index = ['월', '화', '수']
s = pd.Series(data = data, index = index)
s

월    100
화    200
수    300
dtype: int64

In [4]:
s['목'] = 400

In [5]:
s

월    100
화    200
수    300
목    400
dtype: int64

In [6]:
s.loc['금'] = 500

In [7]:
s

월    100
화    200
수    300
목    400
금    500
dtype: int64

Series 삭제
* drop 메서드
* 원본은 유지하고 값이 삭제된 시리즈 객체를 리턴
* s.drop('인덱스')
* s.drop(['인덱스1', '인덱스2'])

In [8]:
s.drop('목')

월    100
화    200
수    300
금    500
dtype: int64

In [9]:
s

월    100
화    200
수    300
목    400
금    500
dtype: int64

In [10]:
s.drop('목', inplace = True)

In [11]:
s

월    100
화    200
수    300
금    500
dtype: int64

In [12]:
s.drop(['수', '금'])

월    100
화    200
dtype: int64

In [13]:
s

월    100
화    200
수    300
금    500
dtype: int64

Series 수정
* Series의 행번호나 인덱스를 사용하여 value를 수정 가능하다.

In [14]:
s.drop('금', inplace = True)

In [15]:
s

월    100
화    200
수    300
dtype: int64

In [16]:
s['수'] = 3000

In [19]:
s

월     100
화     200
수    3000
dtype: int64

In [20]:
s.iloc[2] = 4000

In [21]:
s

월     100
화     200
수    4000
dtype: int64

In [22]:
s.loc['수'] = 5000

In [23]:
s

월     100
화     200
수    5000
dtype: int64