<a href="https://colab.research.google.com/github/jeonsy22/NLP_2023/blob/main/%ED%8C%90%EB%8B%A4%EC%8A%A4_%EC%8B%9C%EB%A6%AC%EC%A6%88_%EC%97%B0%EC%82%B02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

시리즈 필터링
* 사가가 300원 이상인 날의 종가를 출력

In [2]:
from pandas import Series
시가 = Series([100, 200, 300, 400, 600])
종가 = Series([100, 300, 400, 500, 600])

조건 = (시가 >= 300)

#연습문제

1.고가와 저가 차이가 100 이상인 날의 고가를 출력하세요.

In [3]:
import pandas as pd

저가 = pd.Series([10, 200, 200, 400, 600])
고가 = pd.Series([100, 300, 400, 500, 600])

In [5]:
cond = (고가 - 저가) >= 100
고가[cond]

1    300
2    400
3    500
dtype: int64

2.종가가 80000원 이상 90000원 미만인 날짜를 출력하라.

In [8]:
data = [93000, 83400, 99100, 81000, 72300]
index = ['05/14', '05/15', '05/16', '05/17', '05/18']
종가 = pd.Series(data = data, index = index)
종가

05/14    93000
05/15    83400
05/16    99100
05/17    81000
05/18    72300
dtype: int64

In [10]:
조건 = (종가 >= 80000) & (종가 < 90000)
종가[조건]

05/15    83400
05/17    81000
dtype: int64

In [11]:
종가[조건].index

Index(['05/15', '05/17'], dtype='object')

In [12]:
for data in 종가[조건].index:
  print(data)

05/15
05/17